/* 
    Document   : calendaroverlay
    Created on : Nov 4, 2013, 12:21:47 PM
    Author     : mario
    Description: additional styles to improve Calendar overlay experience
*/

#single-day-container .ui-resizable-s {
  background-color: #F4D4A2; 
  bottom: 0;
  cursor: s-resize;
  height: 8px;
  left: 0;
  width: 100%;
}

/**
 *  node edit and add forms when called with Ajax from weekly view
 */
.c-node-edit, 
.c-node-add, 
.c-node-delete {
  background-color: #eaeaea; 
  border: 1px solid #aaa;
  box-shadow: 0 0 3px #777;
  font-size: 0.8em; 
  padding: 1em; 
  position: absolute;
  top: 0;
  left: 20%;
  z-index: 5; 
}
.c-node-delete {
  left: 40%;
  top: 50%; 
}
/* close button for Ajax popup */
.c-close {
  background-color: red; 
  border: 1px solid #800000;
  border-radius: 2em; 
  color: white;
  display: block; 
  font-family: sans-serif; 
  font-weight: bold;
  left: auto; 
  line-height: 2em; 
  position: absolute; 
  right: -1em;
  text-align: center; 
  text-shadow: 0 0 1px #800000;
  top: -1em;
  width: 2em;
}

/* edit and delete buttons on nodes on calendar */
.calendar-calendar td a[class^="cbutton"] {
  background-color: #EAEAEA;
  border: 1px solid #999;
  border-radius: 0.4em; 
  color: #555;
  display: inline-block;
  font-size: 0.8em;
  letter-spacing: 1px;
  margin: 4px 2px 4px 0;
  padding: 0.3em 0.4em 0.1em 0.5em;
  text-decoration: none;
  text-transform: uppercase;
}
.calendar-calendar td a[class^="cbutton"]:hover {
  border-color: #444;
  color: #222; 
  text-decoration: none; 
}
.calendar-calendar td a[href*="delete"]:hover {
  border-color: #800000; 
  color: #800000;
}

/* animated loader while waiting for popup to show through Ajax */
.calendar-overlay-loader {
  background-color: white; 
  background-color: rgba(255, 255, 255, 0.5); 
  border-radius: 150px 150px 150px 150px;
  color: #333333; 
  font-weight: bold; 
  height: 200px;
  left: 40%;
  letter-spacing: 5px; 
  line-height: 200px;
  position: absolute;
  text-align: center;
  text-transform: uppercase; 
  top: 300px;
  width: 200px;
  z-index: 50;
  
  -webkit-animation: co-loader-text 0.5s linear 0s infinite alternate;  
     -moz-animation: co-loader-text 0.5s linear 0s infinite alternate;  
       -o-animation: co-loader-text 0.5s linear 0s infinite alternate;  
          animation: co-loader-text 0.5s linear 0s infinite alternate;  
}
.calendar-overlay-loader:before {
  border-radius: 150px 150px 150px 150px;
  border: 3px solid #333333;
  border-left-width: 0; 
  border-right-width: 0; 
  content: ""; 
  display: block; 
  height: 100%; 
  left: 0; 
  position: absolute; 
  top: -3px;  
  width: 100%; 
  
  -webkit-animation: co-loader 2s linear 0s infinite;  
     -moz-animation: co-loader 2s linear 0s infinite;  
       -o-animation: co-loader 2s linear 0s infinite;  
          animation: co-loader 2s linear 0s infinite;  
}

/* Safari and Chrome */
@-webkit-keyframes co-loader {
   0% { -webkit-transform: rotate(0deg); }   
 100% { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes co-loader-text {
   0% { color: rgba(51, 51, 51, 0.6); }
 100% { color: rgba(51, 51, 51, 1.0); }
}
/* Older Firefox */
@-moz-keyframes co-loader {
   0% { -moz-transform: rotate(0deg); }   
 100% { -moz-transform: rotate(360deg); }
}
@-moz-keyframes co-loader-text {
   0% { color: rgba(51, 51, 51, 0.6); }
 100% { color: rgba(51, 51, 51, 1.0); }
}
/* Opera */
@-o-keyframes co-loader {
   0% { -o-transform: rotate(0deg); }   
 100% { -o-transform: rotate(360deg); }
}
@-o-keyframes co-loader-text {
   0% { color: rgba(51, 51, 51, 0.6); }
 100% { color: rgba(51, 51, 51, 1.0); }
}
/* standard, Firefox 16, Opera 12.10, IE10 */
@keyframes co-loader {
   0% { transform: rotate(0deg); }   
 100% { transform: rotate(360deg); }
}
@keyframes co-loader-text {
   0% { color: rgba(51, 51, 51, 0.6); }
 100% { color: rgba(51, 51, 51, 1.0); }
}

#calendaroverlay-settings-form .fieldset-wrapper > .form-item {
  float: left;
  padding-left: 0;
  padding-right: 0.3%;
  width: 33%;
}